includes:
    - phar://phpstan.phar/conf/config.levelmax.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
    paths:
        - src
        - tests
    checkMissingCallableSignature: true
    checkUninitializedProperties: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true

    ignoreErrors:
        -
            # CORE_VERSION constant may change in the future
            message: '~Right side of && is always true~'
            path: 'src/EditorconfigChecker/Utilities.php'
            count: 1
