name: Checks
on:
  pull_request:
  push:

jobs:
  checks:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php-version: [ '7.2', '7.3', '7.4', '8.0', '8.1' ]
        dependency-version: [ prefer-lowest, prefer-stable ]
    steps:
      -
        name: Checkout code
        uses: actions/checkout@v2
      -
        name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
      -
        name: Install dependencies
        run: composer update --no-progress --${{ matrix.dependency-version }} --prefer-dist --no-interaction --no-suggest
      -
        name: Run lint
        run: composer lint

      - name: Run tests
        run: composer test
      -
        name: Run phpstan
        run: composer check
